// base
@font-size-base: 14px;
@font-size-small: 12px;
@font-size-large: 16px;
@text-color: #515a6e;

// color  原色color
@primary-color: #2d8cf0;
@info-color: #2db7f5;
@success-color: #19be6b;
@warning-color: #ff9900;
@error-color: #ed4014;

// border color
@border-color-base: #dcdee2;
@border-color-split: #e8eaec;
@border-width-base: 1px;
@border-style-base: solid;

//button
@btn-font-weight: normal;

@btn-padding-base: 5px 15px 6px;
@btn-padding-large: 0 15px;
@btn-padding-small: 0 7px;

@btn-font-size: 12px;
@btn-font-size-large: 14px;

@btn-border-radius: 4px;
@btn-border-radius-small: 3px;

@btn-default-color: @text-color;
@btn-default-border: @border-color-base;
@btn-default-bg: #fff;

@btn-primary-color: #fff;
@btn-primary-bg: @primary-color;

@btn-ghost-color: @text-color;
@btn-ghost-bg: #fff;

// Animation
@transition-time: 0.2s;
