.button-color(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;
}
.button-variant(@color; @background; @border) {
  .button-color(@color; @background; @border);
  &:hover
      //&:focus
 {
    // tint 颜色变换
    .button-color(tint(@color, 20%) ; tint(@background, 20%) ; tint(@border, 20%));
  }
  // 正常状态下的disable
  &[disabled]{
    &,
    &:hover {
      .button-color(@btn-disable-color; @btn-disable-bg; @btn-disable-border);
    }
  }
}

.active-btn-color(@color) {
  &:focus {
    box-shadow: 0 0 0 2px fade(@color, 20%);
  }
}

.button-size(@padding; @font-size; @border-radius) {
  padding: @padding;
  font-size: @font-size;
  border-radius: @border-radius;
}
.btn() {
  display: inline-block;
  height: 32px;
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
  // 禁止用户选中文字，图片之类的东西。
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  font-weight: @btn-font-weight;
  border: 1px solid transparent;
  white-space: nowrap;
  .button-size(@btn-padding-base; @btn-font-size; @btn-border-radius);
  transition: color @transition-time linear, background-color @transition-time linear,
    border @transition-time linear, box-shadow @transition-time linear;

  &[disabled] {
    cursor: @cursor-disabled;
  }
  &-small {
    .button-size(@btn-padding-small; @btn-font-size; @btn-border-radius-small);
    height: 24px;
  }
  &-large {
    .button-size(@btn-padding-large; @btn-font-size-large; @btn-border-radius);
    height: 40px;
  }
  // 图标
  > .@{css-prefix-iconfont} {
    line-height: @line-height-base;
    //vertical-align: middle;
}
//   &-icon-only{
//     .btn-square(@btn-prefix-cls);
// }
}

// default
.btn-default() {
  .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
  &:hover,
  &:active {

    .button-color(@primary-color, white, @primary-color);
  }
}

// primary
.btn-primary() {
  .button-variant(@btn-primary-color; @btn-primary-bg; @primary-color);

  .active-btn-color(@primary-color);
}

// dashed
.btn-dashed() {
  border-style: dashed;
}

// Text
.btn-text() {
  .button-variant(@btn-ghost-color, transparent, transparent);
  &:hover {
    .button-color(@primary-color, @btn-ghost-bg, transparent);
  }
  .active-btn-color(@primary-color);
}
// 颜色按钮
.btn-color-type(@color) {
  .button-variant(@btn-primary-color, @color, @color);
}
// ghost
.btn-ghost-type(@color) {
  color: @color;
  &:hover {
    color: tint(@color, 20%);
    background: fade(tint(@color, 95%), 50%);
  }
}
